# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# tools and scripting
env.sh

# development artifacts
*.mp4
*.mov

# Xcode / MacOS
*.xcodeproj/
.DS_Store
*.bundle

# C++ Compilation Artifacts
*.o
*.so
*.dylib
*.a
